USE [master]
GO
/****** Object:  Database [DDKM]    Script Date: 4/23/2025 8:58:24 PM ******/
CREATE DATABASE [DDKM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DDKM', FILENAME = N'D:\DO_AN\ĐỒ ÁN PHÂN TÍCH THIẾT KẾ HỆ THỐNG\FILE_SQL_ĐA_PTTKHT\DDKM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DDKM_log', FILENAME = N'D:\DO_AN\ĐỒ ÁN PHÂN TÍCH THIẾT KẾ HỆ THỐNG\FILE_SQL_ĐA_PTTKHT\DDKM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDKM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDKM]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[ID_diemdanh] [nchar](15) NOT NULL,
	[MSSV] [nchar](15) NULL,
	[ID_lich] [nchar](15) NULL,
	[Ngaythamgia] [date] NULL,
	[Giovaolop] [time](7) NULL,
	[Trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiemDanh] PRIMARY KEY CLUSTERED 
(
	[ID_diemdanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaceDate]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaceDate](
	[FaceID] [nchar](15) NOT NULL,
	[MSSV] [nchar](15) NULL,
	[Imagepath] [nvarchar](100) NULL,
 CONSTRAINT [PK_FaceDate] PRIMARY KEY CLUSTERED 
(
	[FaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGV] [nchar](15) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [nchar](100) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[ID_lich] [nchar](15) NOT NULL,
	[Malop] [nchar](15) NULL,
	[Mamon] [nchar](15) NULL,
	[MaGV] [nchar](15) NULL,
	[Thu] [tinyint] NULL,
	[Giobatdau] [time](0) NULL,
	[Gioketthuc] [time](0) NULL,
 CONSTRAINT [PK_LichHoc] PRIMARY KEY CLUSTERED 
(
	[ID_lich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThucTe]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThucTe](
	[ID_lichTT] [nchar](15) NOT NULL,
	[ID_lich] [nchar](15) NULL,
	[Ngayhoc] [date] NULL,
 CONSTRAINT [PK_LichThucTe] PRIMARY KEY CLUSTERED 
(
	[ID_lichTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogHoatDong]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogHoatDong](
	[ID_Log] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[MSSV] [nvarchar](20) NULL,
	[HanhDong] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](255) NULL,
	[ID_NguoiDung] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[Malop] [nchar](15) NOT NULL,
	[Tenlop] [nvarchar](50) NULL,
	[MaGV] [nchar](15) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[Mamon] [nchar](15) NOT NULL,
	[Tenmon] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[Mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phuhuynh]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phuhuynh](
	[MaPH] [int] NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Phuhuynh] PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [nchar](15) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [nvarchar](10) NULL,
	[Malop] [nchar](15) NULL,
	[MaPH] [int] NULL,
	[Email] [nchar](100) NULL,
	[Sobuoithamgiahoc] [int] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ID_ThongBao] [nchar](15) NOT NULL,
	[ID_diemdanh] [nchar](15) NULL,
	[Ngaygui] [date] NULL,
	[Noidung] [nvarchar](50) NULL,
	[Trangthaigui] [bit] NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[ID_ThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/23/2025 8:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_Nguoidung] [nchar](15) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Matkhau] [nvarchar](100) NULL,
	[Vaitro] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[MSSV] [nchar](15) NULL,
	[MaPH] [int] NULL,
	[MaGV] [nchar](15) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_Nguoidung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogHoatDong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_IDlich] FOREIGN KEY([ID_lich])
REFERENCES [dbo].[LichHoc] ([ID_lich])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_IDlich]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_MSSV]
GO
ALTER TABLE [dbo].[FaceDate]  WITH CHECK ADD  CONSTRAINT [FK_FaceDate_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FaceDate] CHECK CONSTRAINT [FK_FaceDate_MSSV]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_MaGV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_MaGV]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_Malop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_Malop]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_Mamon] FOREIGN KEY([Mamon])
REFERENCES [dbo].[MonHoc] ([Mamon])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_Mamon]
GO
ALTER TABLE [dbo].[LichThucTe]  WITH CHECK ADD  CONSTRAINT [FK_LichThucTe_ID_lich] FOREIGN KEY([ID_lich])
REFERENCES [dbo].[LichHoc] ([ID_lich])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LichThucTe] CHECK CONSTRAINT [FK_LichThucTe_ID_lich]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_MaGV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_MaGV]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Malop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Malop]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_MaPH] FOREIGN KEY([MaPH])
REFERENCES [dbo].[Phuhuynh] ([MaPH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_MaPH]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_IDdiemdanh] FOREIGN KEY([ID_diemdanh])
REFERENCES [dbo].[DiemDanh] ([ID_diemdanh])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_IDdiemdanh]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_magv] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_magv]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_maph] FOREIGN KEY([MaPH])
REFERENCES [dbo].[Phuhuynh] ([MaPH])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_maph]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_mssv] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_mssv]
GO
USE [master]
GO
